<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div id="username">{{ user.username }}</div>
  <div id="chat"><a href="im.html">Войти в чат</a></div>
  <div id="logout"><a href="{% url 'logout' %}">Выйти</a></div>
{% else %}
  <div id="unauthorized">Вы не авторизированы</div>
  <div id="login">
  	<a href="{% url 'login' %}">Войти</a>
  	<a href="{% url 'signup' %}">Зарегистрироваться</a>
  </div>
{% endif %}
{% endblock %}